{% extends "::base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/rav.css') }}" />
{% endblock %}

{% block body %}

    <header>
        <h2>RHONE AUTO VENTE</h2></br>
    </header>
    <table>
        <caption> NOTRE SELECTION DE VOITURE</caption>
        <tbody>
        {% for voiture in voitures %}
            <tr>
                <td>{{ voiture.marque }}</td>
                <td>{{ voiture.modele }}</td>
                <td>{{ voiture.carburant }}</td>
                <td>{{ voiture.kilometrage }}</td>
                <td>{{ voiture.annee }}</td>
                <td>{{ voiture.portes }}</td>
                <td>{{ voiture.prix }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}